.home
{
	font-size:40px;
	text-decoration:none;
}
.font-effect-fire
{   
    margin-left:40px;
	text-decoration:none;
	color:#52006A;
	font-size:45px;
    font-family: "Sofia", "sans-serif";
	padding-left:230px;
	margin-top:5px;
	font-style:oblique;
}

.register:hover
{ 
  font-size:40px;
  color:#4F0E0E;
 
}
.login
{ 
	padding-top:10px;
	text-align:right;
	font-size:20px;
	font-family: "Sofia", 'sans-serif';
}

body
{
 margin:0;
 background-image:url("icecream.jpg");
 background-size:cover;
}  

.header
{

	width:100%;
	height:13%;
	border-radius:150px 150px 150px 150px;
	
}
.grid-container 
{
  margin-left:20px; 
  display: grid;
  grid-template-columns: auto auto auto;
  padding:10px;
}
.grid-item
{ 
	font-size:25px;
	font-family: "serif", 'Rockwell';
	color:#ff0000;
	font-weight:bold;
}
#off
{ 
font-size :30px;
color: #660066;
background-color: #ffff66;
border-radius:0px 10px 5px 5px;
}

#mysidenav a {
  position: absolute;
  left: -70px;
  transition: 0.4s;
  padding: 25px;
  width: 100px;
  text-decoration: none;
  font-size: 10px;
  color: white;
  border-radius: 0 5px 5px 0;
  margin-top:130px;
  font-family: "Sofia", 'sans-serif';
}

#mysidenav a:hover {
  left: 0;
  font-size:30px;
}

#chocolate {
  top: 20px;
  background-color: #555;
  padding-right:20px;
}

#shakes {
  top: 100px;
  background-color:  #555;
}

#icecream {
  top: 180px;
  background-color: #555;
}

#cake {
  top: 260px;
  background-color: #555
}
.card {
  
  max-width: 100px;
  margin-left:130px;
  margin-top:30px;
  font-family: arial;
  font-size:20px;
  font-weight:bold;
  padding:20px;
  border: 4px solid black;
  padding-right:120px;
  float:left;
}
#price
{ 
	text-align:center;
	color:#660066;
	text-decoration:line-through;
}
#price1
{ 
	color:#ff0000;
}
.card1 {
  max-width: 100px;
  margin-left:150px;
  margin-top:30px;
  font-family: arial;
  font-size:20px;
  font-weight:bold;
  padding:20px;
  border: 4px solid black;
  padding-right:120px;
  float:left;
}


.card2 {
  max-width: 100px;
  margin-left:150px;
  margin-top:30px;
  font-family: arial;
  font-size:20px;
  font-weight:bold;
  padding:20px;
  border: 4px solid black;
  padding-right:120px;
  float:left;
}
